<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JERAPP">
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnzpv-bhDp1o_Ca0iFONTu0IftTR_FW1g" />

        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".DepartmentListActivity"
            android:exported="false" />
        <activity
            android:name=".TrackingActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyDetailActivity"
            android:exported="false"
            android:label="Emergency Details"
            android:theme="@style/Theme.JERAPP" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.JERAPP" />
        <activity android:name=".TermsActivity" android:exported="false" />
        <activity android:name=".AboutActivity" android:exported="false" />
        <activity
            android:name=".FlashlightActivity"
            android:theme="@style/Theme.JERAPP" />
        <activity android:name=".DispatchActivity" android:exported="false" />
        <activity android:name=".ConfirmationActivity" android:exported="false" />
    </application>

</manifest>